<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="cssdetail.css">
	
	<title>Document</title>
<style>
	.name{
	background-image: url("image/giangsinh.png"); 
	background-repeat: no-repeat;
	background-size: 100%;
	
}
	input[type=text] {
		width: 350px;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
		border-radius: 30px;
	}
</style>
</head>
<body>
<form action="/add" method="post">
	<div class="name"><b class="b2">NAME OF PRODUCT:  {{car.name}}</b></div>
<div>
	<div class="image" >
		 <img src="{{car.image}}" width="70%" style=" padding: 100px; margin-left: 100px" alt=""> 
	</div>
	<div class="button" >
		<div class="t1"><b > Name of Product :</b> <br> {{car.name}};
		<br>
		<br>
		<br>
		<b> Price: </b> <br> {{car.prices}}</div>
		<div class="t1"> <b>Introduction: </b> <br> <p>In the 2017 movie The Fate of The Furious, Dominic Toretto is not the only hero in the movie,
			 so is his Plymouth GTX. This is a familiar scenario for the Fast & Furious movie series. 
			 It has become not only Universals number 1 franchise, but also the 6th highest grossing series 
			 of all time at over 5 billion in sales. The Plymouth GTX first appeared in 1967 as a model of the Satellite 
			 and continued until 1971. In 1971 it had 3 engines choices available including the 440 Six-Pack pumping  
			 out 385 horsepower. It benefitted from a special camshaft, stronger valves and big-port cylinder heads. 
			 Sadly only 3,000 GTXs were made in 1971.</p>
			<b> <p style="margin-left:50px; font-size:20px"> Input Information to Buy</p></b>
		Your Name: <br>
		<input type="text" name="Name" id=""> <br>
		Your Address: <br>
		<input type="text" name="Addr" id=""> <br>
		Your Phone: <br>
		<input type="text" name="Phone" id=""><br></div>
	</div> 
</div>
	<input type="text" name="nameBuy"  value="{{car.name}}" style="display:none">
	<input type="text" name="priceBuy"  value="{{car.prices}}" style="display:none">
	<input type="text" name="imageBuy"  value="{{car.image}}" style="display:none">
</div>

	<button  class="explore" >
			<b style="font-size: 30px;"  onclick="insertBuyProduct()" >BUY</b>
		</button>
</form>


</body>
</html>