<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="admin.css">
</head>
<style>
	.backg{
		background-image: url("image/giangsinh2.png");
		background-size: 100%;
		background-repeat: no-repeat;

	}
	input[type=text] {
  width: 250px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 30px;
}
</style>
<body>
<div id="banner">
	<h1 style="font-size: 500%; text-align: center;" >EDIT PRODUCT</h1>
</div>
     <form action="/update" method="post">
<div class="backg" style="height: 700px; width: 100%"> 
	<div id="center1" style="margin-left: 600px ; width: 300px;">
		<input type="text" name="id" id="" value="{{car._id}}"><br>
		<b>Name of Product Product:</b>> <br>
		<input type="text" name="txtname" id="" value="{{car.name}}"><br>
		<b>Image of Product:</b> <br>
		<img src="{{car.image}}" width="80%" alt=""> <br>
		
		<input type="text" name="txtimage" id="" value="{{car.image}}"><br>
		<b>Price of product:</b>> <br>
		<input type="text" name="txtprice" id=""  value=" {{car.prices}}"> <br>
	<input type="submit"  value="SUBMIT" id="">	
	</form>


<div id="center1" style="width: 300px;">
	<div id="right" style=" margin-left: 600px;">

	{{!-- <form action="">
		Your Email: <br>
		<input type="text" name="Email" id=""><br>
		Your Name: <br>
		<input type="text" name="Name" id=""> <br>
		Your Address: <br>
		<input type="text" name="Addr" id=""> <br>
		Your Phone: <br>
		<input type="text" name="Phone" id=""><br>
		<input type="submit" name="Buy" id="" value="BUY">
	</form> --}}
	</div>
	</div>
</body>
</html>